@font-face {
  font-family: josephine;
  src: url('../public/fonts/Josefin_Sans/JosefinSans-VariableFont_wght.ttf');
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
html,
body {
  padding: 0;
  margin: 0;
  font-family: josephine,-apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: #030001;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track{
  background-color: #101c4b;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb{
  background: #ef4b6a;
  border-radius: 50px;
}
/* .swiper {
  max-width: 1000px;
  height: 300px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px !important;
  height: 300px;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
} */
.events-wrapper{
  /* overflow: unset !important; */
  z-index: 1000;
}
.events-wrapper+ul li{
  background-image: unset !important;
}
#timeline .buttons{
  /* display: none !important; */
}
.swiper-button-next, .swiper-button-prev{
  width: 50px !important;
  height: 50px !important;
}
.swiper-button-next:after,.swiper-button-prev::after{
  background: black;
  color: white;
  /* padding: 13px; */
  border-radius: 100%;
  width: 50px;
  height: 50px;
  font-size: 24px !important;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media only screen and (max-width:767px) {
  #timeline .buttons{
    display: block !important;
  }
  .events-wrapper{overflow: hidden !important;}
}