.hero_wrapper {
  background-image: url(../public/assets/bg3.jpg);
  background-color: rgba(0, 0, 0, 0.4);
  background-blend-mode: color;
  background-position: center;
  background-size: cover;
  min-height: 95vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
